<!-- Knight Logistics -->

<!DOCTYPE html>

<head>
  <title>KNIGHT LOGISTICS - HOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="indexStyle.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet">
  <link rel="stylesheet" href="odometer-theme-default.css" type="text/css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92960002-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-92960002-4');
    </script>
</head>

<body>
  <div class="splash" id="splash">
    <div class="vidContainer" id="vidCon"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fadeIn justify-content-between">
      <div class="col-lg-4 col-8">
        <a class="navbar-brand" href="index.html"><img id="navLogo" src="media/RedKWhiteTextWide.png" /></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-lg-6 col-12 justify-content-center text-center" id="mainNav">
        <div class="row">
          <div class="col-lg-3 col-6 navbar-nav noPad">
            <a class="nav-item nav-link" href="carriers.html">Carriers</a>
          </div>
          <div class="col-lg-3 col-6 navbar-nav noPad">
            <a class="nav-item nav-link" href="shippers.html">Shippers</a>
          </div>
          <div class="col-lg-3 col-6 navbar-nav noPad hidden" id="loadboard">
            <a class="nav-item nav-link" href="https://loadboard.knightlogistics.com">Loadboard</a>
          </div>
          <div class="col-lg-3 col-6 navbar-nav noPad hidden" id="onboard">
            <a class="nav-item nav-link" href="http://knightswiftlogistics.com">Onboarding</a>
          </div>
          <div class="col-lg-3 col-6 navbar-nav noPad">
            <a class="nav-item nav-link" href="careers.html">Careers</a>
          </div>
          <div class="col-lg-3 col-6 navbar-nav noPad">
            <a class="nav-item nav-link" href="contact.html">Contact</a>
          </div>
        </div>
      </div>
    </nav>
<!-- Loads. Savings. Respect. Tagline-->
    <div class="container-fluid tagline">
      <div class="row justify-content-center words">
        <div class="col-sm-4 text-center">
          <h1>Loads.</h1>
        </div>
        <div class="col-sm-4 text-center">
          <h1>Savings.</h1>
        </div>
        <div class="col-sm-4 text-center">
          <h1>Respect.</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 text-center align-self-center">
            <i class="fa fa-angle-double-down fa-4x"></i>
        </div>
      </div>
    </div>  <!-- End Tagline -->
  </div>  <!-- End Splash -->
  <!-- Begin Stats Section -->
  <div class="container-fluid" id="stats">
    <div class="row justify-content-center">
      <div class="col-lg-3">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h1 id="odometer1" class="odometer"></h1> <!--udate odometer numbers in knight.js-->
            <span style="font-size: 3.5vh;">+</span>
          </div>
        </div>
        <div class="row justify-content-center align-self-center">
          <div class="col-12 col-lg-9">
            <p>Million miles driven daily</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row justify-content-center">
          <div class="col text-center">
            <span style="font-size: 3.5vh;">$</span>
            <h1 id="odometer2" class="odometer"></h1>
          </div>
        </div>
        <div class="row justify-content-center align-self-center">
          <div class="col-12 col-lg-9">
            <p>Annual savings per truck with Iron Truck Services</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row justify-content-center">
          <div class="col text-center">
            <h1 id="odometer3" class="odometer"></h1>
            <span style="font-size: 3.5vh;">+</span>
          </div>
        </div>
        <div class="row justify-content-center align-self-center">
          <div class="col-12 col-lg-9">
            <p>Unique customers serviced in 2017</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Stats Section -->
  <!--  Begin lsr -->
  <div class="container-fluid" id="lsr">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 d-flex">
        <a href="https://loadboard.knightlogistics.com/" target="blank">
          <div class="card mx-auto">
            <div class="cardTop">
              <img class="card-img-top" src="media/lsrDash.JPG" alt="Loads">
            </div>
            <div class="card-img-overlay loads d-flex">
              <div class="my-auto mx-auto text-center align-self-center">
                <h2 class="card-title">Loads</h2>
                <hr id="mobileHr" />
                <p class="card-text">Start Hauling.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 d-flex">
        <a href="https://www.irontruckservices.com/fuel" target="_blank">
          <div class="card mx-auto">
            <div class="cardTop">
              <img class="card-img-top" src="media/lsrFueling.jpg" alt="Savings">
            </div>
            <div class="card-img-overlay savings d-flex">
              <div class="my-auto mx-auto text-center align-self-center">
                <h2 class="card-title">Savings</h2>
                <hr id="mobileHr" />
                <p class="card-text">More in your pockets.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 d-flex">
        <a href="carriers.html">
          <div class="card mx-auto">
            <div class="cardTop">
                <img class="card-img-top" src="media/lsrRespect.jpg" alt="Respect">
            </div>
            <div class="card-img-overlay respect d-flex">
              <div class="my-auto mx-auto text-center align-self-center">
                <h2 class="card-title">Respect</h2>
                <hr id="mobileHr" />
                <p class="card-text">Moving you forward.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- End lsr -->
  <!-- Begin Knight Difference -->
  <div class="container-fluid align-self-center shadow" id="knightDiff">
    <div class="row align-items-end justify-content-center">
      <div class="col-lg-10">
        <h1 class="text-center pb25">The Knight Difference</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-10 noPad">
        <h2 class="text-center pb25">
          We know what it means to drive a truck.
        </h2>
        <p>
          Knight Logistics was founded within the walls of one of America's largest trucking institutions. With billions of miles under our belt, we understand life on the road, the sacrifices you make, and the challenges that present themselves daily.
        </p>
        <p>With that experience comes an eagerness to provide you with the best transportation partner to create solutions and help you reach your goals unlike any other brokerage in North America.
        </p>
      </div>
    </div>
  </div>
<!-- End Knight Different -->
<!-- Begin Shields Section -->
  <div class="container-fluid shieldBg">
    <div class="container noPad" id="shields">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 order-md-2">
          <div class="text-center" id="centerShield">
            <a href="carriers.html">
              <svg id="shield" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.68 82.13">
                <path class="shieldSvg" d="M120.83,54.82A124.8,124.8,0,0,1,88.4,123.4a2.56,2.56,0,0,1-3.73,0A124.6,124.6,0,0,1,52.21,54.82a2.57,2.57,0,0,1,2-2.84L86,45.12a2.57,2.57,0,0,1,1.09,0L118.81,52A2.57,2.57,0,0,1,120.83,54.82Z" transform="translate(-51.18 -43.08)"></path>
              </svg>
              <div>
                <h2>Carriers</h2>
                <i class="fas fa-truck"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 order-md-1">
          <div class="text-center" id="outerShield">
            <a href="shippers.html">
              <svg id="shield" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.68 82.13">
                <path class="shieldSvg" d="M120.83,54.82A124.8,124.8,0,0,1,88.4,123.4a2.56,2.56,0,0,1-3.73,0A124.6,124.6,0,0,1,52.21,54.82a2.57,2.57,0,0,1,2-2.84L86,45.12a2.57,2.57,0,0,1,1.09,0L118.81,52A2.57,2.57,0,0,1,120.83,54.82Z" transform="translate(-51.18 -43.08)"></path>
              </svg>
              <div>
              <h2>Shippers</h2>
              <i class="fas fa-cube"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 order-md-3">
          <div class="text-center" id="outerShield">
            <a href="careers.html">
              <svg id="shield" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.68 82.13">
                <path class="shieldSvg" d="M120.83,54.82A124.8,124.8,0,0,1,88.4,123.4a2.56,2.56,0,0,1-3.73,0A124.6,124.6,0,0,1,52.21,54.82a2.57,2.57,0,0,1,2-2.84L86,45.12a2.57,2.57,0,0,1,1.09,0L118.81,52A2.57,2.57,0,0,1,120.83,54.82Z" transform="translate(-51.18 -43.08)"></path>
              </svg>
              <div>
                <h2>Careers</h2>
                <i class="fas fa-user-tie"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Shields Section -->
<!-- Begin news section -->
<!--   <div class="news">
    <div class="container">
      <div class="row justify-content-center header" >
        <div class="col-9 text-center">
          <h2>Knight Logistics in the News</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3">
          <div class="card text-center">
            <img class="card-img-top" src="media/droneHD.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">News Headline</h5>
              <p class="card-text">Quick blurb about what the article is about. </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card text-center">
            <img class="card-img-top" src="media/droneHD.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">News Headline</h5>
              <p class="card-text">Quick blurb about what the article is about. </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card text-center">
            <img class="card-img-top" src="media/droneHD.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">News Headline</h5>
              <p class="card-text">Quick blurb about what the article is about. </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card text-center">
            <img class="card-img-top" src="media/droneHD.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">News Headline</h5>
              <p class="card-text">Quick blurb about what the article is about. </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Social Feed Section -->
<!-- Add social aggregator later -->
<!--End Social Feed Section -->
<!-- Begin Last Call To Action Section  -->
  <div class="lastCTA">
    <div class="container text-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-10">
          <div id="imgContainer">
            <img src="media/RedKWhiteTextWide.png" alt="Last Call to Action" />
          </div>
          <div>
              <h1>Loads. Savings. Respect.</h1>
          </div>
          <div>
              <a class="btn btn-outline-danger btn-lg ctaButton" href="contact.html" role="button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Last Call to Action Section -->
<!-- Begin Footer -->
 <div class="container-fluid footerSocial">
   <div class="row justify-content-center">
     <div class="col-12 col-lg-3 text-center align-self-center">
       <button type="button" class="btn" data-toggle="modal" data-target="#quoteModal" id="quoteRequest">
         Request Quote
       </button>
     </div>
     <div class="col-12 col-lg-3 align-self-center text-center socialBar">
       <a href="https://www.facebook.com/knightlogisticsllc" target="blank"><i id="social-fb" class="fab fa-facebook-f fa-2x social"></i></a>
       <a href="https://instagram.com/knightlogistics" target="blank"><i id="social-ig" class="fab fa-instagram fa-2x social"></i></a>
       <a href="https://loadboard.knightlogistics.com/" target="blank"><i id="social-lb" class="fa fa-truck fa-2x social"></i></a>
       <a href="mailto:contact@knightlogistics.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
     </div>
     <div class="col-12 col-lg-3 align-self-center text-center">
       <i class="fa fa-phone fa-2x"></i>
       <h3>602&#8208;272&#8208;1500</h3>
     </div>
   </div>
  </div>

   <hr class="lightHr" />

  <div class="container-fluid footer">
   <div class="row justify-content-center">
     <div class="col-md-4 text-center align-self-center footerContact">
       <ul>
         <li>
           <a href="index.html"><img src="media/RedKWhiteTextWide.png" alt="Knight Logistics"/></a>
         </li>
         <li>
           <p>20002 N 19th Ave</p>
         </li>
         <li>
           <p>Phoenix, AZ 85027</p>
         </li>
         <li>
           <p>888&#8208;4KNIGHT</p>
         </li>
         <li>
           <a href="mailto:contact@knightlogistics.com" id="contactHref">Email us</a>
         </li>
       </ul>
       <hr class="fadedHr mt25 mb25" id="mobileHr" />
     </div>
     <div class="col-md-4 align-self-center footerNav">
       <div class="text-center">
         <ul>
           <li>
             <a href="index.html">Home</a>
           </li>
           <li>
             <a href="carriers.html">Carriers</a>
           </li>
           <li>
             <a href="shippers.html">Shippers</a>
           </li>
           <li>
             <a href="careers.html">Careers</a>
           </li>
           <li>
             <a href="contact.html">Contact</a>
           </li>
         </ul>
       </div>
       <hr class="fadedHr mt25 mb25" id="mobileHr" />
     </div>
     <div class="col-md-4 align-self-center text-center footerDoc">
       <h4>Documentation</h4>
       <ul>
         <h6>Carriers</h6>
         <li>
           <a href="http://knightswiftlogistics.com/Broker-Carrier-Agreement.pdf" target="blank">Brokerage Agreement</a>
         </li>
       </ul>
<!--       <ul>
         <h6>Shippers</h6>
         <li>
           <a href="">Credit Application</a>
         </li>
       </ul>  -->
     </div>
   </div>
   <div class="row justify-content-center rights">
     <div class="col-12 text-center align-self-center">
       <ul>
         <li>
           <i class="fa fa-copyright"></i>
           <p>KNIGHT LOGISTICS 2018 ALL RIGHTS RESERVED</p>
		   <a href="https://privacy.knight-swift.com" id="privacyHref">Privacy Policy</a>
		 </li>
       </ul>
     </div>
   </div>
 </div>
<!--  Search Bar - Add functionality Later

    <hr class="lightHr" />

  <div class="container-fluid footerSearch">
    <div class="row justify-content-center">
      <div class="col-12 align-self-center text-center">
        <input type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" />
      </div>
      <div>
        <button class="col-12 align-self-center btn btn-outline-danger">SEARCH</button>
      </div>
    </div>
  </div>

End Search Bar-->

<!-- End Footer -->

<!-- Modal -->
  <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" id="quoteVue">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
           <h5 class="modal-title text-center" id="modalTitle">Quote Request</h5>
           <form id="contactForm" role="form">

            <div v-if="errors.length">
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>

             <div class="controls">
               <div class="row justify-content-center">
                   <div class="col-md-10">
                       <div class="form-group">
                           <input v-model="pickup" id="form_pickup" type="text" name="pickup" class="form-control" placeholder="Pickup Location*" required="required" data-error="Pickup location is required.">
                           <div class="help-block with-errors"></div>
                       </div>
                   </div>
               </div>
               <div class="row justify-content-center">
                 <div class="col-md-10">
                   <div class="form-group datePicker">
                     <input v-model="puDate" id="datepicker" type="date" name="date" class="form-control" placeholder="Pickup Date*" require="required" data-error="Pickup Date is required">
                     <div class="help-block with-errors"></div>
                   </div>
                 </div>
               </div>
               <div class="row justify-content-center">
                   <div class="col-md-10">
                       <div class="form-group">
                           <input v-model="delivery" id="form_deliver" type="text" name="delivery" class="form-control" placeholder="Delivery Location*" required="required" data-error="Delivery location is required.">
                           <div class="help-block with-errors"></div>
                       </div>
                   </div>
               </div>
               <div class="row justify-content-center">
                 <div class="col-md-10">
                     <div class="form-group">
                         <input v-model="name" id="form_name" type="text" name="name" class="form-control" required="required" placeholder="Contact Name*" data-error="Contact name is required">
                         <div class="help-block with-errors"></div>
                     </div>
                 </div>
               </div>
               <div class="row justify-content-center">
                 <div class="col-md-10">
                     <div class="form-group">
                         <input v-model="phone" id="form_phone" type="tel" name="phone" class="form-control" required="required" placeholder="Contact Number*">
                         <div class="help-block with-errors"></div>
                     </div>
                 </div>
               </div>
               <div class="row justify-content-center">
                 <div class="col-md-10">
                   <h6 id="required">
                     *Required Fields
                   </h6>
                 </div>
               </div>
               <div class="row justify-content-center" id="modalMode">
                   <div class="col-md-10 text-center">
                     <div class="form-check form-check-inline">
                       <label class="form-check-label">
                         <input v-model="mode" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Dry Van" />Dry Van
                       </label>
                     </div>
                     <div class="form-check form-check-inline">
                       <label class="form-check-label">
                         <input v-model="mode" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Flatbed">Flatbed
                       </label>
                     </div>
                     <div class="form-check form-check-inline">
                       <label class="form-check-label">
                         <input v-model="mode" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Reefer">Reefer
                       </label>
                     </div>
                   </div>
               </div>
             </div>
             <div class="row justify-content-center">
               <div class="col-md-8 text-center">
                   <input v-on:click.prevent="checkForm" type="submit" class="btn btn-outline-dark btn-lg" value="Send" id="contactSubmit">
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
<!-- end Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="successModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Thank you for your submission. We will contact you soon!</p>
          <button type="button" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  <script src="scripts/responsiveslides.min.js"></script>
  <script src="scripts/odometer.js"></script>
  <script src="scripts/knight.js"></script>
  <script src="scripts/rateQuote.js"></script>

</body>
</html>
