<!DOCTYPE html>
<!-- Master Layout -->
<html lang="en"
      ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Row52 | Find Recycled Auto Parts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="https://cdn.row52.com/cdn/images/favicon.ico" />
<link rel="icon" type="image/x-icon" href="https://cdn.row52.com/cdn/images/favicon.ico" />
<meta name="0" content="0"/>
<meta property="og:title" content="Row52" />
<meta property="og:description" content="Find Recycled Auto Parts" />
    <!-- start:css -->
    <link rel="stylesheet" href="/css/app.3d95adb954ed9314aa1c.css"/>
    <!-- end:css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700"
          rel="stylesheet">
    
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-36626824-1"></script>
<script>
    window.dataLayer = window.dataLayer || [ ];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-36626824-1');
</script>
    
    
    
</head>
<body>




<header class="header"
        ng-controller="HeaderCtrl as ctrl">
    <div class="container">
        <div class="logo">
            <a href="/home">
                <img alt="Row52"
                     class="img-responsive"
                     role="presentation"
                     src="https://cdn.row52.com/cdn/images/logo-horizontal-black-header-opt.png" />
            </a>
        </div>
        <nav class="navbar navbar-inverse web-menu"
             ng-cloak>
            <div class="collapse menu-first navbar-collapse pull-right">
                <ul>
                    <li>
                        <a href="/About/">About Us</a>
                    </li>
                    <li>
                        <a href="/About/ContactUs">Contact Us</a>
                    </li>
                        <li>
                            <a href="/Account">SIGN UP/LOGIN</a>
                        </li>
                </ul>
            </div>
            <div class="collapse menu-second navbar-collapse pull-right">
                <ul>
                    <li class="mobile-dropdown">
                        <a href="#">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-account-summary.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-account-summary-hover.svg">
                            </span>
                            My Account
                        </a>

                    </li>
                    <li>
                        <a href="/Search">
                            <!--<i class="icon-search-cars"></i>-->
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-search.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-search-hover.svg">
                            </span>
                            Vehicle Search
                        </a>
                    </li>
                    <li>
                        <a href="/partswanted">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-parts.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-parts-hover.svg">
                            </span>
                            Parts Wanted
                        </a>
                    </li>
                    <li>
                        <a href="/partssale">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-for-sale.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-for-sale-hover.svg">
                            </span>
                            Parts for Sale
                        </a>
                    </li>
                    <li>
                        <a href="/PartsSellers/?Sort=mreview">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-puller.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-puller-hover.svg">
                            </span>
                            Parts Sellers
                        </a>
                    </li>
                    <li>
                        <a href="/Yards/">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-used.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-used-hover.svg">
                            </span>
                            Auto YARDS
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="menu-device">
            <nav class="menu"
                 role="navigation">
                <ul class="droplist">
                    <li class="mobile-dropdown">

                        <a href="/Account">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-account-summary.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-account-summary-hover.svg">
                            </span>
                            SIGN UP / LOGIN
                        </a>


                    </li>

                    <li>
                        <a href="/Search">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-search.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-search-hover.svg">
                            </span>
                            Vehicle Search
                        </a>
                    </li>
                    <li>
                        <a href="/partswanted">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-parts.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-parts-hover.svg">
                            </span>
                            Parts Wanted
                        </a>
                    </li>
                    <li>
                        <a href="/partssale">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-for-sale.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-for-sale-hover.svg">
                            </span>
                            Parts for Sale
                        </a>
                    </li>
                    <li>
                        <a href="/PartsSellers/?Sort=mreview">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-puller.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-part-puller-hover.svg">
                            </span>
                            Parts Sellers
                        </a>
                    </li>
                    <li>
                        <a href="/Yards/">
                            <span class="menu-icon">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-used.svg">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-used-hover.svg">
                            </span>
                            Auto YARDS
                        </a>
                    </li>
                </ul>
                <ul class="mobile-secondary-menu">
                    <li>
                        <a href="/About/">About Us</a>
                    </li>
                    <li>
                        <a href="/About/ContactUs">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <a class="nav-toggle"
               href="#">
                <span class="menu-device-toggle">&nbsp;</span>
            </a>
        </div>
    </div>
</header>


<div class="site-specs hidden-xs">
        Find replacement auto parts within <strong>101,190</strong> vehicles at <strong>110</strong> Recycling Yards
</div>
<div class="site-specs visible-xs">
    Search for <strong>101,190</strong> vehicles in <strong>110</strong> Yards
</div>
<div class="search-bar">
    
</div>

<div ng-controller="HomeCtrl as ctrl" ng-init="ctrl.openPolicyModal(ng-init)">
    <div class="home-load"></div>
    <div class="jumbotron banner top">
        <div class="container">
            <div class="row">
                <div class="text-center banner-cols">
                    <div class="col-md-3 col-sm-6 cols">
                        <h2 class="home-link">
                            <a href="/Search">Find<br />Vehicles</a>
                        </h2>
                        <div class="icon">
                            <a href="/Search">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-find-cars.svg" /> <img src="https://cdn.row52.com/cdn/images/svg/icon-find-cars-hover.svg" />
                            </a>
                        </div>
                        <p>Search Row52 for vehicles at participating recycling yards in the U.S. and Canada to find the parts you need.</p>
                        <p>
                            <a class="btn btn-primary"
                               href="/Search">
                                Search for vehicles
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 cols">
                        <h2 class="home-link">
                            <a href="/partssale">Buy<br />Parts</a>
                        </h2>
                        <div class="icon">
                            <a href="/partssale">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-buy-parts.svg" /> <img src="https://cdn.row52.com/cdn/images/svg/icon-buy-parts-hover.svg" />
                            </a>
                        </div>
                        <p>Search our Parts For Sale listings to find your needed used auto parts, contact the seller and buy them directly.</p>
                        <p>
                            <a class="btn btn-primary"
                               href="/partssale">
                                Search for parts
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 cols">
                        <h2 class="home-link">
                            <a href="/partssale/create">Sell<br />Parts</a>
                        </h2>
                        <div class="icon">
                            <a href="/partssale/create">
                                <img src="https://cdn.row52.com/cdn/images/svg/icon-sell-parts.svg" /> <img src="https://cdn.row52.com/cdn/images/svg/icon-sell-parts-hover.svg" />
                            </a>
                        </div>
                        <p>Need to clean out your garage? List your spare parts on Row52 and sell them to people who need them.</p>
                        <p>
                            <a class="btn btn-primary"
                               href="/Account/Login"
                               ng-if="user.isAuthenticated === false">
                                Create Parts For Sale Listing
                            </a>
                            <a class="btn btn-primary"
                               href="/Account/MarketplaceSettings"
                               ng-if="user.isAuthenticated && (!user.isSeller || !user.isStripeRegistered)">
                                Create Parts For Sale Listing
                            </a>
                            <a class="btn btn-primary"
                               href="/partssale/create"
                               ng-if="user.isAuthenticated && user.isSeller && user.isStripeRegistered">
                                Create Parts For Sale Listing
                            </a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 cols">
                        <h2 class="home-link">
                            <a href="/partswanted/create">Request<br />Parts</a>
                        </h2>
                        <div class="icon">
                            <a href="/partswanted/create">
                                <img src="https://cdn.row52.com/cdn/images/bell-on.png" /> <img src="https://cdn.row52.com/cdn/images/bell-off.png" />
                            </a>
                        </div>
                        <p>Notify the Row52 Parts Seller network which parts you need and ask someone to locate and pull them for you.</p>
                        <p>
                            <a class="btn btn-primary"
                               href="/partswanted/create">
                                Create Parts Wanted Listing
                            </a>
                        </p>
                    </div>
                    <a class="banner-down"
                       href="#">
                        <img src="https://cdn.row52.com/cdn/images/svg/icon-search-down.svg" /><img src="https://cdn.row52.com/cdn/images/svg/icon-search-down-hover.svg" />
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="jumbotron get-alert scrollit">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="img-circle" src="https://cdn.row52.com/cdn/images/img1_opt.png" />
                </div>
                <div class="col-md-6">
                    <h2>Get Alerts</h2>
                    <p>
                        Create custom alerts to have Row52 notify you when the vehicle you are waiting for gets placed in the yard. You can specify makes, models, years or yards
                        and receive a text message or email when the vehicle you need becomes available.
                    </p>
                    <p>
                        To set up an alert, click the button below, Search for desired vehicle and click the "Save Search / Set Alert" button to indicate how you wish to be alerted (Email or SMS).
                    </p>
                    <a href="/Account/Login/?redirectUrl=/Search" class="btn btn-primary btn-xs primary-btn">Get Started</a>
                    <br /><br />
                    
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron section1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>What you can do with Row52<sup class="r52-copyright">&copy;</sup>:</h3>
                    <ul style="list-style:none">
                        <li>Locate an auto recycling yard near you</li>
                        <li>Search the inventory of any participating yard and view vehicle photos</li>
                        <li>Create a 'Parts Wanted' listing to solicit help finding a part</li>
                        <li>Communicate with Parts Sellers and the Row52 community to get automotive advice</li>
                        <li>Receive quotes from Parts Sellers to locate your part throughout the US and Canada</li>
                        <li>Set up custom alerts to be notified when a car you need becomes available</li>
                        <li>Become a Parts Seller and list your extra parts in our 'Parts For Sale' area</li>
                        <li>Make money pulling parts for other people</li>
                        <li>Post your yard's inventory and photos online (for yard owners or managers only)</li>
                    </ul>
                    <div ng-if="!user.isAuthenticated">
                        <a class="btn btn-primary btn-xs primary-btn"
                           href="/Account">
                            SIGN up / Log in
                        </a>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron section2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="img-circle" src="https://cdn.row52.com/cdn/images/img2_opt.png" />
                </div>
                <div class="col-md-6">
                    <h2>Got Inventory?</h2>
                    <p>
                        If you own or manage an auto recycling yard, it's easy to post your yard's vehicle inventory on Row52 and provide all of the benefits of
                        Row52 participation to your customers.
                    </p>
                    <p>
                        These include posting your searchable inventory with pictures, letting your customers receive custom
                        alerts when you set a vehicle they need, free mobile apps and much more!
                    </p>
                    <a class="btn btn-primary btn-xs primary-btn"
                       href="/GotInventory">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-border-top">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <ul class="col-md-3">
                    <li>
                        <a href="/Pages/MobileApp">Mobile App</a>
                    </li>
                    <li>
                        <a href="/Pages/PartsSellerProgram">Parts Seller Program</a>
                    </li>
                    <li>
                        <a href="/GotInventory">Got Inventory?</a>
                    </li>
                </ul>

                <ul class="col-md-2">
                    <li>
                        <a href="/About/">About Us</a>
                    </li>
                    <li>
                        <a href="/About/ContactUs">Contact Us</a>
                    </li>
                    <li>
                        <a href="/About/HowItWorks">How It Works</a>
                    </li>
                </ul>

                <ul class="col-md-3">
                    <li>
                        <a href="/About/PrivacyPolicy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/About/Terms">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class="footer-logo pull-right">
                    <img src="https://cdn.row52.com/cdn/images/logo-vertical-white-footer-opt.png"
                         role="presentation"
                         alt="Row52" />
                </div>
                <div class="app-btns">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.row52.app">
                        <img src="https://cdn.row52.com/cdn/images/android-app_opt.png" role="presentation" alt="android app" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 social">
            </div>
            <div class="col-md-6 copyright">
                <p class="copy">©2023 ROW52, LLC.
                                All rights reserved.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="footer-border">&nbsp;</div>
        </div>
    </div>
</footer>


<script type="text/javascript">
    (function(window) {
        window.user = {"isAuthenticated":false,"id":"00000000-0000-0000-0000-000000000000","userName":null,"firstName":null,"lastName":null,"email":null,"creationDate":"2023-06-25T12:58:35.1712568+00:00","avatar":null,"isMobileActivated":false,"mobilePhone":null,"mobileStatus":"new","confirmActivationCode":null,"bio":null,"isStripeRegistered":false,"isInstitutionalSeller":false,"isSeller":false,"isTaxable":false,"showToolkit":true,"marketPlaceAlert":false,"roles":[],"claims":[],"locationId":0,"address1":null,"address2":null,"address3":null,"city":null,"stateId":null,"provinceName":null,"zipCode":null,"countryId":null,"isResidential":false,"latitude":0.0,"longitude":0.0};
        window.row52Application = {"id":1,"marketplaceFeeMinimum":2.00,"marketplaceFeePercentage":0.02,"showAlertBanner":false,"stripeFlatFee":0.30,"stripeFeePercentage":0.029,"alertBannerText":"Welcome to the newly updated Row52 website! Click here to learn more.","alertBannerLink":"/about/announcements"};
    })(window);
</script>
<script>
    (function(window) {
        window.userStatistics = {"totalMessages":0,"unreadMessages":0,"pendingIncomingQuotes":0,"pendingOutgoingQuotes":0,"actionableOutgoingQuotes":0,"unfulfilledPartsWantedListings":0,"openPartsSaleListings":0};
    })(window);
</script>
<div id="fb-root"></div>
<!-- start:js -->
<script src="/js/app.3d95adb954ed9314aa1c.js"></script>
<!-- end:js -->
<!-- Build: 2.0.983 -->
</body>
</html>